header {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(5, 20vh);
  grid-template-columns: repeat(10, 10vw);
}

#name {
  grid-area: 2 / 2 / span 2 / span 5;
  font-size: 22vw;
  transition-duration: 1s;
}
.coe {
  position: absolute;
}
.coe:nth-child(1) {
  color: var(--purple);
}
.coe:nth-child(2) {
  color: var(--blue);
}
.coe:nth-child(3) {
  color: var(--orange);
}
.coe:nth-child(4) {
  color: white;
  -webkit-text-fill-color: var(--bg-color);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

#cap {
  grid-area: 4 / 5 / span 2 / span 5;
  color: var(--purple);
  font-size: 3em;
  align-self: center;
  opacity: 0;

  animation: fadeIn 2s ease-in-out 2s forwards;
  -webkit-animation: fadeIn 2s ease-in-out 2s forwards;
}

article {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 25vh 2vw;
  width: 96vw;
  height: 50vh;
  color: white;
  opacity: 0;

  display: flex;
  flex-direction: row;
}
.card:nth-child(even) {
  flex-direction: row-reverse;
}

.rect {
  height: 100%;
  width: 60vw;
}

.slider {
  position: absolute;
  left: 0;
  width: 200vw;

  display: flex;
  justify-content: space-between;

  transition: ease-in-out 0.6s;
}

.place {
  width: 80vw;
  height: 50vh;
  text-align: right;
  font-size: 4em;
}

.pos {
  width: 50vw;
  height: 50vh;
  margin-right: 15vw;
  font-size: 3em;
}
.card:nth-child(even) .pos {
  margin-right: 25vw;
}

.slider:hover {
  left: -100vw;
}
