:root {
  --bg-color: #080a1f;
  --purple: #ccb5ff;
  --blue: #b5e5ff;
  --orange: #ffccb5;
  --main-font: "Josefin Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  text-decoration: none;
}
*:focus {
  outline: none;
}

a {
  color: white;
}

html {
  background-color: var(--bg-color);
  width: 100vw;
  overflow-x: hidden;
}

.show {
  display: block;
  animation: fadeIn 1s ease-in 0.6s forwards;
}
.hide {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.purple {
  background-color: var(--purple);
}
.blue {
  background-color: var(--blue);
}
.orange {
  background-color: var(--orange);
}

nav {
  position: fixed;
  right: 0;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-200px);
  margin: 20px 30px;
  mix-blend-mode: difference;

  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 50px 1fr;

  z-index: 15;
}

#dropdown_btn {
  grid-area: 1 / 1 / span 1 / span 1;
  height: 50px;
  width: 50px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: transparent;
  text-decoration: none;

  transition-duration: 0.6s;
  transition: all 0.6s ease-in-out;
}
#dropdown_btn:hover {
  background-color: white;
  border: var(--bg-color);
}

.grow {
  height: 150px !important;
  width: 150px !important;
  border-width: 5px;
}

.nav_elt {
  opacity: 0;
}

nav a {
  grid-area: 1 / 2 / span 1 / span 1;
  font-size: 3em;
  margin-left: 20px;
  transform: translateY(7px);
}

#nav_menu {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  background-color: white;
  transition: ease-out;
  transition-duration: 0.6s;

  display: grid;
  grid-template-rows: 5% 40% 1fr 5%;
  grid-template-columns: 10% 1fr 10% 1fr 10%;

  z-index: 10;
}

.open {
  height: 90vh;
}
.close {
  height: 0;
}

#nav_header {
  grid-area: 2 / 2 / span 1 / span 3;
  font-size: 9vw;
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#nav_header span {
  display: block;
  background-color: var(--bg-color);
  width: 100%;
  height: 3px;
}

.col {
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
}
.col:nth-child(2) {
  grid-area: 3 / 2 / span 1 / span 1;
}
.col:nth-child(3) {
  grid-area: 3 / 4 / span 1 / span 1;
}

#nav_menu a {
  color: var(--bg-color);
  margin-top: 1.2em;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
#nav_menu a:hover {
  color: var(--purple);
  animation: color-rotate 2s 0.4s infinite;
}

@keyframes color-rotate {
  0% {
    color: var(--purple);
  }
  33% {
    color: var(--blue);
  }
  66% {
    color: var(--orange);
  }
  100% {
    color: var(--purple);
  }
}

@-webkit-keyframes color-rotate {
  0% {
    color: var(--purple);
  }
  33% {
    color: var(--blue);
  }
  66% {
    color: var(--orange);
  }
  100% {
    color: var(--purple);
  }
}
