:root {
  --bg-color: #080a1f;
  --purple: #ccb5ff;
  --blue: #b5e5ff;
  --orange: #ffccb5;
  --main-font: "Josefin Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  text-decoration: none;
}

html {
  background-color: var(--bg-color);
}

.show {
  display: block;
}
.hide {
  display: none;
}

nav {
  position: fixed;
  right: 0;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-200px);
  margin: 20px 30px;
  mix-blend-mode: difference;
}

#dropdown_btn {
  height: 50px;
  width: 50px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: transparent;
  text-decoration: none;
}

nav a {
  font-size: 3em;
  color: white;
  margin-left: 20px;
}

#nav_menu {
  display: none;
}
